.container {
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  height: 12.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--gray-700);
}

.wrapper {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: -1.50rem;
}

.input {
  display: flex;
  justify-content: center;
}

.input input {
  width: 40rem;
  height: 3.375rem;
  border-radius: 8px;
  padding: 1rem;
  gap: 0.5rem;
  font-size: 1rem;

  background: var(--gray-500);
  border: 1px solid var(--gray-700);
}

.input input:focus {
  outline: 1px solid var(--purple);
  color: var(--white);
}

.button button{
  width: 5.62rem;
  height: 3.25rem;
  padding: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  
  color: var(--gray-100);
  background: var(--blue);
  border: none;
  cursor: pointer;

  transition: 0.3s;
}

.button button:hover {
  background: var(--blue-dark);
}